In [9]:
import pandas as pd

In [10]:
import numpy as np

In [11]:
company = pd.read_csv('fortune500.csv', encoding = 'latin1')

In [12]:
company.head()

,Rank,Company Name,Number of Employees,Previous Rank,Revenues,Revenue Change,Profits,Profit Change,Assets,Market Value
0,1,Walmart,"23,00,000",1.0,"$4,85,873",0.8%,"$13,643.0",-7.2%,"$1,98,825","$2,18,619"
1,2,Berkshire Hathaway,"3,67,700",4.0,"$2,23,604",6.1%,"$24,074.0",0.0%,"$6,20,854","$4,11,035"
2,3,Apple,"1,16,000",3.0,"$2,15,639",-7.7%,"$45,687.0",-14.4%,"$3,21,686","$7,53,718"
3,4,Exxon Mobil,"72,700",2.0,"$2,05,004",-16.7%,"$7,840.0",-51.5%,"$3,30,314","$3,40,056"
4,5,McKesson,"68,000",5.0,"$1,92,487",6.2%,"$2,258.0",53.0%,"$56,563","$31,439"

In [39]:
prev_rank = company.groupby('Previous Rank')
prev_rank

In [40]:
len(prev_rank)

490

In [41]:
prev_rank.size().sort_values(ascending = False)

Previous Rank
453.0    2
102.0    2
1.0      1
333.0    1
345.0    1
        ..
166.0    1
165.0    1
164.0    1
163.0    1
761.0    1
Length: 490, dtype: int64

In [42]:
prev_rank.first()

,Rank,Company Name,Number of Employees,Revenues,Revenue Change,Profits,Profit Change,Assets,Market Value
Previous Rank,,,,,,,,,
1.0,1,Walmart,"23,00,000","$4,85,873",0.8%,"$13,643.0",-7.2%,"$1,98,825","$2,18,619"
2.0,4,Exxon Mobil,"72,700","$2,05,004",-16.7%,"$7,840.0",-51.5%,"$3,30,314","$3,40,056"
3.0,3,Apple,"1,16,000","$2,15,639",-7.7%,"$45,687.0",-14.4%,"$3,21,686","$7,53,718"
4.0,2,Berkshire Hathaway,"3,67,700","$2,23,604",6.1%,"$24,074.0",0.0%,"$6,20,854","$4,11,035"
5.0,5,McKesson,"68,000","$1,92,487",6.2%,"$2,258.0",53.0%,"$56,563","$31,439"
...,...,...,...,...,...,...,...,...,...
588.0,383,Tesla,"30,025","$7,000",73.0%,-$674.9,-,"$22,664","$45,390"
637.0,421,Builders FirstSource,"14,000","$6,367",78.6%,$144.3,-,"$2,910","$1,669"
640.0,415,CalAtlantic Group,"3,055","$6,477",83.0%,$484.7,127.0%,"$8,709","$4,291"
686.0,427,TreeHouse Foods,"16,027","$6,175",92.6%,-$228.6,-298.9%,"$6,546","$4,813"
761.0,467,Olin,"6,400","$5,551",94.5%,-$3.9,-,"$8,763","$5,444"

In [46]:
prev_rank.get_group(6)

,Rank,Company Name,Number of Employees,Previous Rank,Revenues,Revenue Change,Profits,Profit Change,Assets,Market Value
5,6,UnitedHealth Group,"2,30,000",6.0,"$1,84,840",17.7%,"$7,017.0",20.7%,"$1,22,810","$1,57,793"